<!DOCTYPE html>
<html>
  <head>
    <title>File Metadata Microservice</title>
  </head>
  <body>
    <h1>File Metadata Microservice</h1>
    <hr>
    <form action="/api/fileanalyse" method="post" enctype="multipart/form-data">
      <input id="inputfield" type="file" name="upfile">
      <button type="submit">Upload</button>
    </form>
    <p><small>Tests rapides :</small></p>
    <ul>
      <li><a href="/api/whoami">/api/whoami</a></li>
      <li><a href="/api/1451001600000">/api/1451001600000</a></li>
      <li><a href="/api/users">/api/users</a></li>
    </ul>
  </body>
</html>
